@page
@model SchoolMaris.Pages.Account.LOGINModel

<br />
<h2 class="text-info">LOG IN Credential</h2>
<br />

<div asp-validation-summary="All" class="text-danger"></div>
<div class="container border" style="padding:22px">
    <form method="post">
        @* <input type="hidden" asp-for="Credentials_.CredentialID" />*@

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row" >
            <div class="col-2">
                <label asp-for="Credentials_.UserName"></label>
            </div>
            <div class="col-5">
                <input asp-for="Credentials_.UserName"/>
            </div>
            <span asp-validation-for="Credentials_.UserName" class="text-danger"></span>
        </div>
        <div class="form-group row" >
            <div class="col-2">
                <label asp-for="Credentials_.Password"></label>
            </div>
            <div class="col-5">
                <input asp-for="Credentials_.Password"/>
            </div>
            <span asp-validation-for="Credentials_.Password" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input id="savebtn" type="submit" value="Log In" class="btn btn-primary form-control">
            </div>
            <div class="col-2">
                <a asp-page="CreateCredential" class="btn btn-info form-control text-white">Create Credential</a>
            </div>
        </div>
        
    </form>
</div>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
