@page
@model SchoolMaris.Pages.CurriculumPages.IndexModel

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
       
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" asp-area="" asp-page="/Index">Home</a>
                <div class="dropdown-divider"></div>
            </div>
        </div>


        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quiz </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" asp-area="" asp-page="/Quiz/QuestionIndex">QuestionIndex</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/Quiz/Question">Question</a>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/Quiz/Option">Option</a>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/Quiz/AnswerKey">AnswerKey</a>
            </div>
        </div>



        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Level/Subject </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" asp-area="" asp-page="/SubjectList/Index">Subject</a>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/LevelList/LevelIndex">Level</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/LevelSubjectList/LevelSubjectIndex">LevelSubject</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Level/Section </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" asp-area="" asp-page="/LevelList/LevelIndex">Level</a>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/SectionList/SectionIndex">Section</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/LevelSectionList/LevelSectionIndex">LevelSection</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LevelSubjectTeacher </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" asp-area="" asp-page="/LevelSubjectList/LevelSubjectIndex">LevelSubject</a>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/TeacherList/TeacherIndex">Teacher</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/LevelSubjectTeacherList/LevelSubjectTeacherIndex">LevelSubjectTeacher</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LevelSectionTeacher </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" asp-area="" asp-page="/LevelSectionList/LevelSectionIndex">LevelSection</a>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/TeacherList/TeacherIndex">Teacher</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" type="button" asp-area="" asp-page="/LevelSectionTeacherList/LevelSectionTeacherIndex">LevelSectionTeacher</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pupils' Profile </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" asp-area="" asp-page="/PupilsList/PupilsIndex">Pupils' Profile</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Enrolment Profile</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" type="button" asp-area="" asp-page="/EnrolmentProfileList/EnrolmentIndex">Enrolment Profile</a>
            </div>
        </div>

    </div>
</nav>

    <div align="right">
    <a asp-page="/Index" class="col-4" align="right">Log Out Account</a>
    </div>